body {
	width: 400px;
}

h1 {
        text-align: center;
      }
  
      select {
        margin: 10px;
      }
  
      .flex-container {
        display: flex;
      }
  
      .textarea {
        width: 48%;
        margin: auto;
        border: black;
        border-width: thick;
      }
  
      textarea {
        font-size: 35px;
        display: block;
        width: 100%;
        height: 500px;
        padding: 5px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: none;
      }
